---
import Layout from '../layouts/Layout.astro';
import ReactApp from '../components/ReactApp';
---

<Layout title="ChatGPT-ASR-TTS">
	<main><ReactApp client:only="react" /></main>
</Layout>

<style>
	main {
		height: 100vh;
		padding: 0;
	}
</style>
