---
import Layout from "../layouts/Layout.astro";
import ReactApp from "../components/ReactApp";
import { APP_NAME } from "../constants";

import "uno.css";
import "../components/markdown.css";
import "../components/app.css";
---

<Layout title={APP_NAME}>
  <main><ReactApp client:only="react" /></main>
</Layout>

<style>
  main {
    height: 100vh;
    padding: 0;
  }
</style>
