---
import Layout from '../layouts/Layout.astro';
import Chat from '../components/Chat';
---

<Layout title="ChatGPT-ASR-TTS">
	<main><Chat client:load /></main>
</Layout>

<style>
	main {
		height: 100vh;
		padding: 0;
	}
</style>
