---
import Layout from '../layouts/Layout.astro';
import App from '../app';
import { APP_NAME } from '../constants';
---

<Layout title={APP_NAME}>
  <main>
    <App client:only="react" />
    <div id="app-loading">
      <div>
        <img src="/favicon.svg" class="logo" alt="" />
      </div>
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
  }

  main {
    height: 100vh;
    padding: 0;
    background: white;

    @media (prefers-color-scheme: dark) {
      background: #1a202c;
    }
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  #app-loading {
    position: absolute;
    top: 36%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #app-loading > div {
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
      border-radius: 100px;
    }
  }

  #app-loading .logo {
    position: absolute;
    top: 8px;
    width: 24px;
    height: 24px;
    animation: spinner 1200ms linear infinite;
  }
</style>
