ol {
  list-style: decimal !important;
}

ul {
  list-style: disc !important;
}

:root[data-theme="light"] .markdown-body * {
  color-scheme: light;
  --color-prettylights-syntax-comment: #6e7781 !important;
  --color-prettylights-syntax-constant: #0550ae !important;
  --color-prettylights-syntax-entity: #8250df !important;
  --color-prettylights-syntax-storage-modifier-import: #24292f !important;
  --color-prettylights-syntax-entity-tag: #116329 !important;
  --color-prettylights-syntax-keyword: #cf222e !important;
  --color-prettylights-syntax-string: #0a3069 !important;
  --color-prettylights-syntax-variable: #953800 !important;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e !important;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa !important;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e !important;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa !important;
  --color-prettylights-syntax-carriage-return-bg: #cf222e !important;
  --color-prettylights-syntax-string-regexp: #116329 !important;
  --color-prettylights-syntax-markup-list: #3b2300 !important;
  --color-prettylights-syntax-markup-heading: #0550ae !important;
  --color-prettylights-syntax-markup-italic: #24292f !important;
  --color-prettylights-syntax-markup-bold: #24292f !important;
  --color-prettylights-syntax-markup-deleted-text: #82071e !important;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9 !important;
  --color-prettylights-syntax-markup-inserted-text: #116329 !important;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1 !important;
  --color-prettylights-syntax-markup-changed-text: #953800 !important;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5 !important;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2 !important;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae !important;
  --color-prettylights-syntax-meta-diff-range: #8250df !important;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a !important;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f !important;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069 !important;
  --color-fg-default: #24292f !important;
  --color-fg-muted: #57606a !important;
  --color-fg-subtle: #6e7781 !important;
  --color-canvas-default: #ffffff !important;
  --color-canvas-subtle: #f6f8fa !important;
  --color-border-default: #d0d7de !important;
  --color-border-muted: hsla(210, 18%, 87%, 1) !important;
  --color-neutral-muted: rgba(175, 184, 193, 0.2) !important;
  --color-accent-fg: #0969da !important;
  --color-accent-emphasis: #0969da !important;
  --color-attention-subtle: #fff8c5 !important;
  --color-danger-fg: #cf222e !important;
}

:root[data-theme="dark"] .markdown-body {
  color-scheme: dark !important;
  --color-prettylights-syntax-comment: #8b949e !important;
  --color-prettylights-syntax-constant: #79c0ff !important;
  --color-prettylights-syntax-entity: #d2a8ff !important;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9 !important;
  --color-prettylights-syntax-entity-tag: #7ee787 !important;
  --color-prettylights-syntax-keyword: #ff7b72 !important;
  --color-prettylights-syntax-string: #a5d6ff !important;
  --color-prettylights-syntax-variable: #ffa657 !important;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149 !important;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc !important;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519 !important;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc !important;
  --color-prettylights-syntax-carriage-return-bg: #b62324 !important;
  --color-prettylights-syntax-string-regexp: #7ee787 !important;
  --color-prettylights-syntax-markup-list: #f2cc60 !important;
  --color-prettylights-syntax-markup-heading: #1f6feb !important;
  --color-prettylights-syntax-markup-italic: #c9d1d9 !important;
  --color-prettylights-syntax-markup-bold: #c9d1d9 !important;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7 !important;
  --color-prettylights-syntax-markup-deleted-bg: #67060c !important;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4 !important;
  --color-prettylights-syntax-markup-inserted-bg: #033a16 !important;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6 !important;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02 !important;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9 !important;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7 !important;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff !important;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e !important;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58 !important;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff !important;
  --color-fg-default: #c9d1d9 !important;
  --color-fg-muted: #8b949e !important;
  --color-fg-subtle: #6e7681 !important;
  --color-canvas-default: #0d1117 !important;
  --color-canvas-subtle: #161b22 !important;
  --color-border-default: #30363d !important;
  --color-border-muted: #21262d !important;
  --color-neutral-muted: rgba(110, 118, 129, 0.4) !important;
  --color-accent-fg: #58a6ff !important;
  --color-accent-emphasis: #1f6feb !important;
  --color-attention-subtle: rgba(187, 128, 9, 0.15) !important;
  --color-danger-fg: #f85149 !important;
}

.markdown-body {
  background-color: transparent !important;
}

:root[data-theme="light"] .markdown-body {
  --color-fg-default: #24292f !important;
  color-scheme: light !important;
}

:root[data-theme="dark"] .markdown-body {
  color-scheme: dark !important;
}

:root[data-theme="dark"] .markdown-body:not(code) {
  color: #d6deeb !important;
}

:root[data-theme="light"] .markdown-body pre {
  background-color: #151b22 !important;
}
