---
// <!-- netlify-disable-blocks -->
import ReloadPrompt from "../components/pwa/ReloadPrompt.astro";
import LinkTag from "../components/pwa/LinkTag.astro";
// <!-- netlify-disable-end -->

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/favicon-192x192.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <title>{title}</title>
    <meta name="description" content={title} />
    <!-- netlify-disable-blocks -->
    <LinkTag />
    <!-- netlify-disable-end -->
  </head>
  <body>
    <slot />
    <!-- netlify-disable-blocks -->
    <ReloadPrompt />
    <!-- netlify-disable-end -->
  </body>
</html>
